@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    margin: 12px;
    color: #333;
    /* font-family: Verdana, Arial, sans-serif; */
    font-family: 'Lato', Verdana, Arial, sans-serif;
  }

  header {
    font-family: 'Lobster', cursive;
    font-weight: normal;
  }

header h1,
header h2 {
  font-size: 4rem;
  margin: 8px 0;
}
header h2 {
  font-size: 2rem;
}

.nav {
    list-style: none; /*removes bullets*/
    padding: 0;
}

.nav li {
    display: inline-block; /*allows you to treat an element as inline but also apply right props*/
    margin-right: 10px; /*this treats it as it were a block*/
}

.nav a {
    color: #fff;
    text-decoration: none;
    background-color: #600;
    padding: 6px;
    transition: all .5s cubic-bezier(1,-0.72, 0, 1.65);
}

.nav {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 24px;
  }

.nav a:hover {
    color:#222;
    background-color:#f0dfb4;
    padding: 12px;
}

aside {
    position: absolute;
    top: 200px;
    left: 24px;
    width: 180px;
    background-color: #f0dfb4;
    padding: 6px;
    border: 1px solid #600;
  }

  article {
    margin: 0 20px 0 240px;
  }

  blockquote {
    float: right;
    width: 40%;
    font-size: 24px;
  }
  article img {
    float: right;
  }
  
  blockquote::before {
    content: '“';
    font-size: 4rem;
    font-family: serif;
    color: #333;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #600;
  }

  article p::first-line {
    font-weight: bold; /*artfully makes first line bold*/
  }

  #wrapper {
   max-width: 840px;
   border: 1px dotted black;
   margin: 0 auto 0 auto; /*horizontal centering*/
   position: relative;
  }

  @media print {
    * {
      /* display: none !important; */
      /* color: red; */
      display: none;
    }
  }


  @media (max-width: 800px) {
    body {
      margin: 0;
    }
    article {
      margin-left: 0;
    }
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      display: flex;
      background-color: blueviolet;
      min-height: 32px;
    }
    .nav li {
      margin: 0;
      flex-grow: 1;
    }

    aside {
      position: static;
      width: 100%;
    }
    .nav li a {
      border-radius: 0;
      background-color: transparent;
    }

    article img,
    blockquote {
      float: none;
    }

  }